@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

html,body {
	height: 100%;
	width:100%;
	font-family:'Poppins',sans-serif;
	color:#222;
}
.navbar {
    padding:.8rem;
	background-color: #f4f4f4;
}
/*
.nav-link {
	color: black !important;
	text-transform: uppercase;
	font-weight: 600;
	border-bottom: 1.5px solid transparent;
	transition: 0.16s all ease-in;
}
.nav-link:hover {
	border-bottom: 1.5px solid black;
	margin-left: 20px;
	margin-right: 20px;
}
.navbar-brand {
	color: Maroon;
	font-weight: 800;
	transition: 0.68s all cubic-bezier(0.43, 1.11, 0.81, 0.16);
	border-left: 4px solid black;
	padding-left: 20px;
}

.navbar-brand:hover {
	color: coral;
}
*/
/* Common 
#home {
	padding-top: 100px;
	padding-bottom: 100px;
}

/* Home 
#home {
	background-color: #ffff66	;
}
#home .row img {
	width: 50%;
}
#home .main-heading {
	text-transform: uppercase;
	font-family: 'Poppins', sans-serif;
	font-size: 60px;
	margin-top: 90px;
}
.specialtext {
	color: crimson;
}
.sub-heading {
	text-transform: uppercase;
}
#home .social-media {
	margin-top: 20px;
}
#home a {
	color: crimson;
	margin: 12px;
	font-size: 30px;
}
#home .btn {
	border-radius: 16px 16px 16px 16px;
}
*/